%li
  %a{href: '/hills/'+ hill.id}= hill.name
  - if (user)
    %form{ action: '/hills/destroy', method: 'POST' }
      %input{ type: 'hidden', name: 'hill_id', value: hill.id }
      %input{ type: 'submit', value: 'Delete' }
    %a{href: '/hills/'+ hill.id + '/edit'} Edit
