-if (!user)
  %a{ href: 'users/login' } Se connecter

%h3 
  Bienvenue&nbsp;
  - if (user)
    = user.first_name
    %br%a{ class: "button", href: '/hills/new'} Ajouter une station
    %a{ class: "button", href: '/logout'} Se déconnecter

%h2 Liste des stations
%ul#hill
  != partial('hill', hills)
