-if (!user)
  %a{ href: 'users/login' } Login

%h3 
  Welcome&nbsp;
  - if (user)
    = user.first_name
    %br%a{ class: "button", href: '/hills/new'} Create new hill
    %a{ class: "button", href: '/logout'} Logout

%h2 List of hills
%ul#hill
  != partial('hill', hills)
