body {
	padding: 1em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	max-width: 70em;
	margin: auto;
	background: #FAFAFA;
	color: #444;
}

h1, h2 {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #F5F5F5, #EEE); 
    background-image: -o-linear-gradient(top, #F5F5F5, #EEE); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F5F5F5),color-stop(1, #EEE)); 
    background-image: -webkit-linear-gradient(#F5F5F5, #EEE); 
    background-image: linear-gradient(#F5F5F5, #EEE);
    padding: 0.2em;
    border-radius: 5px;
    border: 1px solid #CCC;
}

a {
	color: #00B7FF;
}

#title {
  border: none;
  background: none;
  text-align: center;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
  box-shadow: 0 1px 0 #CCC, 0 2px 0 black, 0 -1px 0 #CCC, 0 -2px 0 black ;
}


input {
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #AAA;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

input[type=submit], button, a.button {
  text-decoration: none;
  background-image: -moz-linear-gradient(top, #F5F5F5, #EEE); 
  background-image: -o-linear-gradient(top, #F5F5F5, #EEE); 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F5F5F5),color-stop(1, #EEE)); 
  background-image: -webkit-linear-gradient(#F5F5F5, #EEE); 
  background-image: linear-gradient(#F5F5F5, #EEE);
  display: inline-block;
  padding: 5px 10px 6px 10px;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  cursor: pointer;
  border: 1px solid #AAA;
  color: #333;
  text-shadow: 1px 1px 0px rgba(200, 200, 200, 0.8);
  box-shadow: 0 0 3px rgba(0,0,0, 0.3), inset 1px 1px 0px rgba(255,255,255,0.3);
  border-radius: 5px;
  text-transform: capitalize;
}

input[type=submit]:hover, button:hover, a.button:hover {
  background-image: none;
  background: #FFF;
}

input[type=submit]:active, button:active, a.button:active {
  box-shadow: 0 0 0px rgba(0,0,0, 0.3), inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

table {
	text-align: left;
	border: 1px solid #CCC;
	border-spacing: 0;
}

table td, table th {
	border-bottom: 1px solid #CCC;
	padding: 0.5em;
}
table td {
	border-left: 1px solid #CCC;
}

table tr:nth-child(odd) td {
	background: #F5F5FF;
}

table tr th{
	background: #F2F2FF;
}

table tr:last-child td, table tr:last-child  th {
	border-bottom: none;
}

ul#hill {
	list-style: none;
	padding: 0;
	display: table;
}

ul#hill li {
	padding-bottom: 1em;
	display: table-row;
}

ul#hill li > *{
	display: table-cell;
}

form {
  display: table;
}

form > div {
  display: table-row;
}

form > div > * {
  display: table-cell;
}


#messages > ul {
  list-style: none;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
}
#messages .error {
  color: red;
  border: 1px solid red;
}
#messages .info {
  color: green;
  border: 1px solid green;
}

#comments {
  margin-top: 1em;
}

#comments thead tr th{
  background: #F2F2FF;
  border-bottom: 1px solid #CCC;
}

#comments td:first-child {
  border-left: none;
}

.comment_form {
  display: block; 
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #CCC; 
}

.comment_form > div {
  display: block;
}

#quality {
  display: inline;
}

.comment_form > div > * {
  display: inline;
}
textarea {
  min-height: 100px;
  min-width: 300px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}
}
	
}
	
}