body {
	padding: 1em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	max-width: 70em;
	border: 1px solid #333;
	margin: auto;
}

a {
	color: #00B7FF;
}

input {

}

table {
	text-align: left;
	border: 1px solid #CCC;
	border-spacing: 0;
}

table td, table th {
	border-bottom: 1px solid #CCC;
	padding: 0.5em;
}
table td {
	border-left: 1px solid #CCC;
}

table tr:nth-child(odd) td {
	background: #F5F5FF;
}

table tr th{
	background: #F2F2FF;
}

table tr:last-child td, table tr:last-child  th {
	border-bottom: none;
}

ul#hill {
	list-style: none;
	padding: 0;
}

ul#hill li {
	padding-bottom: 1em;
}