!!!
%html
  %head
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css'}
    %script{ src: '/javascripts/libs/underscore.js'}
    %script{ src: '/javascripts/libs/jquery.js'}

  %body
    %h1#title SnowReporter
    != messages()
    != body